<?xml version="1.0" encoding="UTF-8"?>
<configuration name="defaultConfiguration" status="warn" strict="true" monitorInterval="5" shutdownHook="disable">
	<properties>
		<property name="patternlayout">%d{ISO8601} [%t] %-5level %logger{36} - %msg%n%throwable{full}</property>
	</properties>
	<appenders>
		<RollingFile  name="RecordLogFile" fileName="${sys:htquant.home}/log/${sys:htquant.type}/record.log" filePattern="${sys:htquant.home}/log/${sys:htquant.type}/record-%d{yyyy-MM-dd}.log.%i">
				<PatternLayout>
					<Pattern>%m%n</Pattern>
				</PatternLayout>
				<Policies>
        			<SizeBasedTriggeringPolicy size="500 MB"/>
      			</Policies>
      			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
		<RollingFile name="APP_LOG" fileName="${sys:htquant.home}/log/${sys:htquant.type}/app.log" filePattern="${sys:htquant.home}/log/${sys:htquant.type}/app-%d{yyyy-MM-dd}.log.%i">
				<layout type="PatternLayout" pattern="${patternLayout}" />
				<Policies>
        			<SizeBasedTriggeringPolicy size="500 MB"/>
      			</Policies>
      			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
	</appenders>
	<loggers>
		<root level="error">
			<appender-ref ref="APP_LOG"/>
		</root>
		<logger name="ATS_RECORD_LOG" level="info">
			<appender-ref ref="RecordLogFile" />
		</logger>
		<logger name="org.jboss" level="info"/>
		<logger name="org.hibernate" level="info"/>
		<logger name="org.springframework" level="info"/>
		<logger name="org.apache.log4j" level="info"/>
		<logger name="org.apache.mina" level="info"/>
		<logger name="org.apache.kahadb" level="info"/>
		<logger name="org.quickfix" level="info"/>
		<logger name="quickfix" level="info"/>
		<logger name="com.espertech.esper" level="info"/>
		<logger name="com.huatai.exchange" level="info"/> 
		<logger name="com.huatai.common" level="info"/> 
		<logger name="com.huatai.refdata" level="info"/>
		<logger name="com.huatai.platform" level="info"/>
		<logger name="com.huatai.platform.Platform" level="debug"/>
		<logger name="com.huatai.upstream" level="info"/>
		<logger name="com.huatai.upstream.fix.FixUpStreamSender" level="error"/>
		<logger name="com.huatai.marketdata" level="info"/>
		<logger name="com.huatai.gateway" level="info"/>
		<logger name="com.huatai.oms" level="debug"/>
		<logger name="com.huatai.strategy" level="info"/>
		<logger name="com.huatai.platform.downstream" level="debug"/>
		<logger name="com.huatai.backtest" level="info"/> 
		<logger name="com.huatai.platform.algo" level="info"/> 
	</loggers>
</configuration>