<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>交易策略回测平台</title>
        
        <link rel="shortcut icon" type="image/png" href="@{favicon.png}"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="交易策略回测平台">
        <meta name="author" content="Yachen Zhu">

        <!-- Bootstrap Core CSS -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

        <!-- Custom CSS -->
        <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

        <!-- jQuery -->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

        <!-- Custom Theme JavaScript -->
        <script th:src="@{/js/sb-admin-2.min.js}"></script>

        <!-- Toastr -->
        <link rel="stylesheet" th:href="@{/vendor/toastr/toastr.min.css}" type="text/css" media="all" />
        <script th:src="@{/vendor/toastr/toastr.min.js}"></script>
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="@{/vendor/html5shiv.js}"></script>
            <script src="@{/vendor/respond.min.js}"></script>
        <![endif]-->

    </head>
    <body>
        <div id="wrapper">
            <nav th:replace="fragments/header :: header"></nav>

            <div layout:fragment="content"></div>
            <footer th:replace="fragments/footer :: footer"></footer>
            
        </div>
    </body>
</html>